<div class='container'>
    <ul class="list-group">
        <li ng-repeat="product in products" class="list-group-item">
            <div class="row">
                <h2 class="col-md-4 col-md-offset-4">{{ product.name }}</h2>
                <h4>{{ product.price | currency }}</h4>
                <img class="col-md-4 col-md-offset-4 img-circle" ng-src="{{ product.images[0] }}" alt="">
                <button class="col-md-4 col-md-offset-4 btn btn-primary" ng-hide="product.soldOut">Add to Cart</button>
                <div class="col-md-4 col-md-offset-4 alert alert-danger" ng-show="product.soldOut">Sold Out!!!</div>
            </div>

            <br>

            <div ng-include="'views/template-panel.html'"></div>
        </li>
    </ul>
</div>
