<div id="review">
    <h4>Reviews</h4>
    <blockquote ng-repeat='review in product.reviews'>
        <b>{{review.rating}}</b>: {{review.body}}<br>
        <cite>by: {{review.author}}</cite>
    </blockquote>
    <form class='well'
                ng-controller='ReviewCtrl as reviewCtrl'
                ng-submit='reviewCtrl.$valid && reviewCtrl.addReview(product)'
                novalidate>
        <blockquote>
            <b>{{reviewCtrl.review.rating}}</b>: {{reviewCtrl.review.body}}<br>
            <cite>by: {{reviewCtrl.review.author}}</cite>
        </blockquote>
        <div class="form-group">
            <label>Rating: </label>
            <select class="form-control" ng-model='reviewCtrl.review.rating' required>
                <option value='1'>1 Star</option>
                <option value='2'>2 Star</option>
                <option value='3'>3 Star</option>
                <option value='4'>4 Star</option>
                <option value='5'>5 Star</option>
            </select>
        </div>
        <div class="form-group">
            <label>Review: </label>
            <textarea class="form-control" ng-model='reviewCtrl.review.body' required></textarea>
        </div>
        <div class="form-group">
            <label>By: </label>
            <input class="form-control" ng-model='reviewCtrl.review.author' type='email' required />
        </div>
        <div class="form-group">
            <input type='submit' class='btn btn-primary' value='Submit'/>
        </div>
    </form>
</div>
